@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 250, 249, 246;
  --background-end-rgb: 250, 249, 246;
  --title-color: 24, 111, 101; /* #186F65 */
  --content-color: 41, 41, 41;    /* #292929 */
  --border-color: 24, 111, 101; /* #186F65 */
  --secondary-background-color: 253, 250, 243; /* #FDFAF3 */
  --green-background-color: 24, 111, 101; /* #186F65 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Color classes */
.title-color {
  color: rgb(var(--title-color));
}

.content-color {
  color: rgb(var(--content-color));
}

.border-color {
  border-color: rgb(var(--border-color));
}

.secondary-background-color {
  background-color: rgba(var(--secondary-background-color), 0.5);
}

.green-background-color {
  background-color: rgb(var(--green-background-color));
}

/* Fonts */
.font-libre-baskerville {
  font-family: 'Libre Baskerville', serif;
}

.font-roboto {
  font-family: 'Roboto', sans-serif;
}

/* Importing Libre Baskerville font */
@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/librebaskerville/v14/kmKnZrc3Hgbbcjq75U4uslyuy4kn0qNZaxM.woff2) format('woff2');
}

/* Importing Roboto font */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
}